.services {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 4rem;
}

.services__card{
  width: 50%;
  display: grid;
  place-content: center;

}

@media (max-width: 700px) {
  .services {
    display: flex;
    flex-direction: column;

  }

  .services__card {
    width: 100%;
  }
}