.menu {
  
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu__item a {
  text-decoration: none;
  color: #fff;
  /* font-size: 0.75rem; */
  padding: 0.3rem;
  margin-left: 0.2rem;
  transition: 1s;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
}

.menu__item a:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
}

.menu__item button {
  background-color: salmon;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  color: #333;
  margin-left: 1rem;
  white-space: nowrap;
  transition: transform 0.3s;

}

.menu__item button:hover {
  transform: translateY(-2px);
}

/* Hamburger Menu */
.menu__toggle {
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  top: 15px;
}

.menu__btn-container {
  display: none;
  height: 100%;
  width: 30px;
  background: blue;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__btn::before,
.menu__btn,
.menu__btn::after {
  display: block;
  height: 4px;
  width: 30px;
  position: absolute;
  background-color: #FCFCFD;
  border-radius: 2px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__btn::before {
  margin-top: -10px;
  content: "";
}

.menu__btn::after {
  margin-top: 10px;
  content: "";
}

.menu__toggle:checked~.menu__btn-container .menu__btn::before {
  margin-top: 0;
  transform: rotate(405deg);
}

.menu__toggle:checked~.menu__btn-container .menu__btn {
  background: transparent;
  /* transform: rotate(135deg); */
}

.menu__toggle:checked~.menu__btn-container .menu__btn::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {

  .menu__list {
      gap: 0;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 50px;
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  
  .menu__item {
    display: grid;
    place-content: center;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #333;
    opacity: 0;
  }

  .menu__btn-container {
    display: block;
  }
  /* ~ {tilde}  */
  .menu__toggle:checked~.menu__list .menu__item {
    background-color: #333;
    width: 100%;
    height: 2.5rem;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  }

  .menu__toggle:checked~.menu__list .menu__item {
    background-color: #333;
    width: 100%;
    height: 2.5rem;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
  }

  .menu__toggle:checked~.menu__list .menu__item:not(:last-child) {
    border-bottom: 1px solid #FCFCFD;
  }
}