.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Courier New', Courier, monospace;
  gap: 0.5rem;
}

.avatar__wrap {
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  border: 1px solid #eee;
  border-radius: 50%;
  background: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px; */
}

.avatar__image {
  background-image: url('../../assets/avatar.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1px 0px;
  background-color: #E2D4D3;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}

.avatar__name {
  white-space: nowrap;
}